@font-face {
    font-family: Archeologicaps;
    src: url(../assets/Archeologicaps.ttf);
}

@font-face {
    font-family: TrajanPro;
    src: url(../assets/TrajanPro-Regular.otf);
}

body {
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;  
    background-position: 0% 0%;
    background-size: 100% 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Archeologicaps;
}
.main-container {
    display: flex;
    width: 100%;
    /* height: 95%; */
    /* background-color: aqua; */
    flex-direction: column;

    /* justify-content: center; 
    align-items: center; */
    margin: 0;
    padding: 0;
}

.varsitarian-logo {
    width: 300px;
    margin: 10px;
    align-self: center;
    /* background-color: aqua; */
}

.teams-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    /* background-color: fuchsia;  */
    align-items: center;
}

.team-container {
    display: flex;
    width: 70%;
    /* background-color: crimson; */
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* border-bottom-color: black; */
}

.teams-container-wrap {
    flex: 1;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: sandybrown; */
    align-items: center;
}

.team-container-wrap {
    display: flex;
    width: 300px;
    /* background-color: crimson; */
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 10px;
    /* border-bottom-color: black; */
}


.team-image {
    width: 70px;
    height: 70px;
    overflow: hidden;
    flex: 2;
}

.team-name {
    flex: 10;
    font-size: 1.3em;
    margin-left: 15px;
    margin-right: 15px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-align: center;
    color: #fff;
}

.team-name-wrap {
    flex: 1;
    font-size: 1.3em;
    margin-left: 15px;
    margin-right: 15px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    text-align: center;
    color: #fff;
}

.score-container {
    flex: 1;
    display: flex;
    /* background-color: cadetblue; */
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.button-controls {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 30px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    -webkit-box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
}