@font-face {
    font-family: Archeologicaps;
    src: url(../assets/Archeologicaps.ttf);
}

@font-face {
    font-family: TrajanPro;
    src: url(../assets/TrajanPro-Regular.otf);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
    display: flex;
    background-image: url('../assets/bg.png');
    /* background-repeat: no-repeat;   */
    /* background-position: 0% 0%; */
    background-size: cover;
    height: 100%;
    overflow: hidden;
    font-family: Archeologicaps;
    color: #fff;
}

.main-container {
    flex: 1;
    width: 100%;
    /* height: 100%; */
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    font-family: Archeologicaps;
}

.larger-size {
    font-size: 2em;
}

.top-button-container {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    /* justify-content: flex-end; */
}

.top-button-text {
    outline-style: none;
}

.top-button-text:hover {
    font-weight: bolder;
}

.top-button-container p {
    font-family: Archeologicaps;
}

.top-button-container > div{
    /* background-color: tan; */
    opacity: 1;
    display: flex;
    flex-direction: row;
}

.top-controls {
    height: 60px;
}

.top-controls:hover {
    transition: 0.3s;
    height: 68px;
}


.top-button-container button {
    margin: 5px;
    background: none;
    border-style: none;
    /* font-family: Archeologicaps; */
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.level-button {
    display: flex; 
    justify-content: center;
    background-color: none;
    outline-style: none;
}

.point-controls{
    height: 60px;
    border-radius: 10%;
    background-color: white;
}

.point-controls:hover {
    background-color: black;
    transition: 0.3s;
}

.activate {
    background-color: black !important;
    border-radius: 10%;
}

.btnSort{
    outline-style: none;
}

.btnSort:hover{
    background-color: black !important;
    color: white;
}

.activateSort{
    background-color: black !important;
    color: white;
}


.main-button-container {
    flex: 1;
    /* height: 100%; */
    /* background-color: goldenrod; */
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: sandybrown; */
    align-items: center;
}

.bottom-button-container {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* background-color: antiquewhite; */
    margin-bottom: 20px;
}

.bottom-button-container div {
    /* flex: 1; */
    height: 120px;   
    padding: 15px;
    display: flex;
    /* align-items: center; */
}

.team-controls {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    width: 300px;
    /* background-color: darkcyan; */
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
    /* flex-direction: column; */
}

.college-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-bottom: 0px;
}

.team-control-buttons-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-control-buttons {
    position: relative;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-style: none;
    outline-style: none;
    -webkit-box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
}
  
.team-control-buttons:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    border-radius: 50px;
    opacity: 0;
    transition: all 0.6s
}
  
.team-control-buttons:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    overflow: hidden;
}

.team-controls-add {
    background-color: #00C72B;
    margin-right: 5px;
}

.team-controls-minus {
    background-color: #C70039;
    margin-left: 5px;
}

.text-style {
    font-size: 14px;
    text-align: center;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.sort-container {
    /* background-color: darkcyan; */
    justify-content: space-around;
    /* margin-bottom: 20px; */
    flex: 1;
    align-items: center;
}

.sort-container button {
    position: relative;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    font-family: Archeologicaps;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    -webkit-box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
}
  
.sort-container button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    border-radius: 50px;
    opacity: 0;
    transition: all 0.6s
}
  
.sort-container button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    overflow: hidden;
}

.timer-container {
    flex: 1.3;
    /* flex: 1; */
    /* background-color: rosybrown; */
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; */
    align-items: center;
}

.timer-container input {
    width: 60px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1rem;
    border-radius: 30px;
    border-style: none;
    padding: 10px 12px;
}

.timer-button-text {
    font-size: 12px;
    font-weight: bold;
}

.timer-inputs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
}

.auto-time-buttons {
    position: relative;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    /* flex: 1; */
    outline-style: none;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-style: none;
    -webkit-box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
}

.auto-time-buttons:hover {
    background-color: black;
    color: white;
}
  
.auto-time-buttons:after {
    content: "";
    background: grey;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    border-radius: 35px;
    opacity: 0;
    transition: all 0.6s
}
  
.auto-time-buttons:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    overflow: hidden;
}

.auto-time-buttons p {
    margin: 0px;
    font-weight: bold;
}

.margin-top {
    margin-top: 20px;
}

.reset-container {
    flex: 0.2;
    /* background-color: aqua; */
    /* margin-bottom: 20px; */
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.reset-button {
    position: relative;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #C70039;
    font-weight: bold;
    border-style: none;
    border-radius: 30px;
    outline-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 101px 12px rgba(0,0,0,0.29);
}
  
.reset-button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    border-radius: 30px;
    opacity: 0;
    transition: all 0.6s
}
  
.reset-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
    overflow: hidden;
}

.control-timer {
    height: 35px;
    padding-left: 5px;
}

.control-score {
    height: 35px; 
}